*{
    margin: 0;
    padding:0;

}

a{
    text-decoration: none;   
    font-size: 18px;
    color: white;
    
}
.logo{
    display: inline-block;
    margin-left:60px;
    margin-top:21px;

}
nav{
    background-color: gray;
    color: white;
    height: 64px;
    border-bottom: 1px white solid;
}
ul{
    display: inline-block;
    margin: 0;
    float: right;
    margin-top: 7px;
}
li{
    display:inline-block;
    text-decoration: none;
    padding-top: 18px;
    padding-right:15px;
}


